<div class="paddedbottom10">
    <ul class="breadcrumb">
        <li class="active">{{ 'label.anchor.addsavingcharges' | translate }}</li>
    </ul>
</div>
<form name="savingccountchargeform" novalidate="" class="form-horizontal" ng-controller="AddNewSavingsChargeController"
      rc-submit="submit()">
    <api-validate></api-validate>
    <fieldset>
        <div class="form-group">
            <label class="control-label col-sm-2">{{ 'label.input.charges' | translate }}<span class="required">*</span></label>

            <div class="col-sm-3">
                <select ng-model="formData.chargeId" id="chargeId" name="charge"
                        ng-options="charge.id as (charge.name+&nbsp;+'('+charge.currency.name+')') for charge in chargeOptions"
                        value="{{formData.chargeId}}"
                        ng-change="chargeSelected(formData.chargeId)" class="form-control" required>
                    <option style="display:none" value="">{{ 'label.selectcharge' | translate }}</option>
                </select>
                <form-validate valattributeform="savingccountchargeform" valattribute="charge"/>
            </div>
        </div>

        <div ng-show="chargeDetails">
            <div class="form-group">
                <label class="control-label col-sm-2">{{ 'label.input.amount' | translate }}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input id="amount" type="text" name="amount" ng-model="formData.amount" class="form-control" required ng-late-Validate/>
                    <form-validate valattributeform="savingccountchargeform" valattribute="amount"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">{{ 'label.input.chargecalculation' | translate }}</label>

                <div class="col-sm-3">
                    <select id="chargeCalculationType" ng-model="chargeCalculationType"
                            ng-options="chargeCalculation.id as chargeCalculation.value for chargeCalculation in chargeDetails.chargeCalculationTypeOptions"
                            value="{{chargeCalculation.id}}" disabled="disabled" class="form-control">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">{{ 'label.input.chargetimetype' | translate }}</label>

                <div class="col-sm-3">
                    <select id="chargeTimeType" ng-model="chargeTimeTypeId"
                            ng-options="chargeTime.id as chargeTime.value for chargeTime in chargeDetails.chargeTimeTypeOptions"
                            value="{{chargeTime.id}}" disabled="disabled" class="form-control">
                    </select>
                </div>
            </div>
			
			<div class="form-group" ng-show="!withDrawCharge">
				<label class="control-label col-sm-2">{{ 'label.input.dueon' | translate }}<span
							class="required">*</span></label>
				<div class="col-sm-3" ng-switch on="chargeTimeType.value">
					<input id="date.specificduedate" class="input-medium form-control" 
						   type="text" datepicker-pop="dd MMMM yyyy"
						   ng-model="date.specificduedate" is-open="opened" ng-switch-when='Specified due date'/>
					<input id="feeOnMonthDay" class="input-medium form-control" 
						   type="text" datepicker-pop="dd MMMM"
						   ng-model="date.due" is-open="opened" ng-switch-when='Annual Fee'/>	   
					<input id="feeOnMonthDay" class="input-medium form-control" 
						   type="text" datepicker-pop="dd MMMM"
						   ng-model="date.due" is-open="opened" ng-switch-when='Monthly Fee'/>
					<input id="date.specificduedate" class="input-medium form-control" 
						   datepicker-pop="dd MMMM yyyy" ng-model="date.specificduedate" 
						   is-open="opened" ng-switch-when='Weekly Fee'/>
				</div>
			</div>
			
            <div class="form-group" ng-show="chargeTimeTypeWeeklyOrMonth">
                <label class="control-label col-sm-2">{{ 'label.heading.repaymentsevery' | translate }}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input type="text" class="input-small" ng-model="formData.feeInterval" class="form-control"/>
                </div>
            </div>
			
			<div class="form-group" ng-show="isRecurringCharge">
				<label class="control-label col-sm-2">{{ 'label.heading.syncrecurringchargeswithmeeting' | translate }}<span
							class="required">*</span></label>
				<div class="col-sm-3">
                <input class="input-small" class="form-control" 
					   type="checkbox" ng-model="formData.isCalendarInherited">
				</div>
            </div>
        </div>

        <div class="col-md-offset-3">
            <a id="cancel" href="#/viewsavingaccount/{{cancelRoute}}" class="btn btn-default">{{'label.button.cancel' |
                translate}}</a>
            <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_SAVINGSACCOUNTCHARGE'>{{'label.button.save' | translate}}</button>
        </div>
    </fieldset>
</form>
