<div class="col-md-12">
	<ul class="breadcrumb">
	    <li class="active">{{'label.button.collectionsheet' | translate}}</li>
	</ul>
	<form name="collectionsheetform" novalidate class="form-horizontal well" ng-controller="CollectionSheetController">
		<api-validate></api-validate>
		<h2>
				<strong ng-show="noData" style="padding-top: 400px !important;">{{'label.norepaymentsanddisbursalareavailable' | 	    translate}}</strong>
		</h2>
	
		<h2>
				<strong ng-show="val" class="display-save-message">{{'label.savecollectionsheetsuccessfully' | translate}}</strong>
		</h2>
		<fieldset ng-hide="val || noData">

		<!-- Input section -->	
			<div>
			    <div class="form-group">
			        <label class="control-label col-sm-2">{{ 'label.input.branchoffice' | translate }}<span
			                class="required">*</span></label>
			        <div class="col-sm-3">
			            <select chosen="offices" id="officeId" ng-model="officeId" name="office" class="chzn-select-deselect form-control"
			                    ng-options="office.id as office.name for office in offices" value="{{office.id}}"
			                    ng-change="officeSelected(officeId)" required>
			                <option value="">{{'label.selectoffice' | translate}}</option>
			            </select>
			        </div>
			        <div class="col-sm-3">
			            <form-validate valattributeform="collectionsheetform" valattribute="office"/>
			        </div>
			    </div>
			
			    <div class="form-group">
			        <label class="control-label col-sm-2">{{ 'label.input.meetingcalendar' | translate }}<span
			                class="required">*</span></label>
			
			        <div class="col-sm-3">
			            <input type="text" id="transactionDate" name="transactiondate" datepicker-pop="dd MMMM yyyy"
			                   ng-model="date.transactionDate" is-open="opened" class="form-control"/>
			        </div>
			    </div>
			
			    <div class="form-group">
			        <label class="control-label col-sm-2">{{ 'label.input.staff' | translate }}</label>
			
			        <div class="col-sm-3">
			            <select chosen="loanOfficers" id="loanOfficerId" ng-model="loanOfficerId"
			                    ng-options="loanOfficer.id as loanOfficer.displayName for loanOfficer in loanOfficers"
			                    value="{{loanOfficer.id}}" ng-change="loanOfficerSelected(loanOfficerId)" class="form-control"
			                    required>
			                <option value="">{{'label.selectloanofficer' | translate}}</option>
			            </select>
			        </div>
			    </div>
			
			    <div class="form-group">
			    	<div class="col-sm-2">
				        <button class="btn btn-primary" ng-click="productiveCollectionSheet()">
				            {{'label.button.productivecollectionsheet' | translate}}
				            <i class="icon-circle-arrow-right"></i></button>
			        </div>
			    </div>
			
			</div>
		</fieldset>
	</form>
</div>