<div ng-controller="ProductiveCollectionSheetController">
    <ul class="breadcrumb">
        <li><a href="#/entercollectionsheet">{{'label.anchor.collectionsheet' | translate}}</a></li>
    </ul>

    <api-validate></api-validate>
    <div>
        <div id="productive_sheet" class="whitebg paddedtop">
            <div class="paddedtop">
                <span>&nbsp;{{'label.heading.branch' | translate}}&nbsp;:{{officeName}}</span>
                <span class="paddedleft90">{{'label.input.meetingdate' | translate}}&nbsp;:{{meetingDate}}</span>
            </div>
            <div class="tabbable tabs-below paddedtop">
                <ul class="nav nav-tabs nav-pills">
                    <li ng-class="{statusactive: selectedTab == center.id}" ng-repeat="center in staffCenterData">
                        <a ng-click="getAllGroupsByCenter(center.id, center.collectionMeetingCalendar.id)">
                            {{center.name}}
                            <i ng-show="selectedTab == center.id && !center.submitted" class="icon-circle statusprogresstab"></i>
                            <i ng-show="selectedTab != center.id && !center.submitted" class="icon-circle statusprogresspendingtab"></i>
                            <i ng-show="center.submitted" class="icon-circle statusprogresscompletedtab"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cs-container">
                <table class="table-striped table-cs">
                    <thead>
                    <tr>
                        <th class="center-align">Id</th>
                        <th class="center-align">Group/Client Names</th>
                        <th bgcolor="#99EB99" class="center-align" scope="colgroup" ng-repeat="loanproduct in collectionsheetdata.loanProductsDueForRepayment">
                            {{loanproduct.name}}
                        </th>
                        <th bgcolor="#99EB99" scope="colgroup" ng-repeat="savingproduct in collectionsheetdata.savingsProducts">
                            {{savingproduct.name}}
                        </th>
                        <th bgcolor="#FFB2B2" class="center-align" scope="colgroup" ng-repeat="loanproduct in collectionsheetdata.loanProductsDueForDisbursal">
                            {{loanproduct.name}}
                        </th>
                        <th bgcolor="#FFB2B2" scope="colgroup" ng-repeat="savingproduct in collectionsheetdata.savingsProducts">
                            {{savingproduct.name}}
                        </th>
                        <th class="center-align">{{'label.heading.attendance' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="group in collectionsheetdata.groups">
                    <tr>
                        <td class="graybg">
                            <b>{{group.groupId}}</b>
                        </td>
                        <td class="graybg">
                            <b>{{group.groupName}}</b>
                        </td>
                        <td scope="colgroup" colspan="{{collectionsheetdata.loanProductsDueForRepayment.length + collectionsheetdata.savingsProducts.length + collectionsheetdata.loanProductsDueForDisbursal.length + collectionsheetdata.savingsProducts.length}}">&nbsp;</td>
                        <td colspan="1" scope="colgroup">&nbsp;</td>
                    </tr>
                    <tr ng-repeat="client in group.clients">
                        <td>{{client.clientId}}</td>
                        <td>{{client.clientName}}</td>
                        <!-- Loan accounts details -->
                        <td class="center-align" ng-repeat="loanproduct in collectionsheetdata.loanProductsDueForRepayment">
    	                  <span ng-repeat="loan in client.loans" ng-show="loanproduct.id == loan.productId && loan.accountStatusId == 300">
    	                    <input id="total" type="text" class="input-smaller" ng-model="loan.totalDue">
    	                  </span>
                        </td>
                        <!-- saving accounts details -->
                        <td class="center-align" ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
                          <span ng-repeat="savings in client.savings" ng-show="savingsproduct.id === savings.productId">
                            <input id="dueAmount" type="text" class="input-smaller"
                                                   ng-model="savings.dueAmount">
                          </span>
                        </td>
                        
                        <td class="center-align" ng-repeat="loanproduct in collectionsheetdata.loanProductsDueForDisbursal">
                          <span ng-repeat="loan in client.loans" ng-show="loanproduct.id == loan.productId && loan.accountStatusId == 200">
                            <input id="total" type="text" class="input-smaller" ng-model="loan.disbursementAmount">
                          </span>
                        </td>

                        <td class="center-align" ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
                          <span ng-repeat="savings in client.savings" ng-show="savingsproduct.id === savings.productId">
                            <input id="dueAmount" type="text" class="input-smaller"
                                                   ng-model="savings.withdrawalAmount">
                          </span>
                        </td>

                        <td>
                            <select id="clientsAttendance[{{$index}}][attendanceType]" ng-model="client.attendanceType.id"
                                    class="input-smaller"
                                    ng-options="attendance.id as attendance.value for attendance in collectionsheetdata.attendanceTypeOptions"
                                    value="{{attendance.id}}">
                            </select>
                        </td>
                    </tr>
                    <!-- group total -->
                    <tr>
                        <td class="graybg" colspan="2" ng-show="collectionsheetdata.loanProductsDueForRepayment">{{'label.input.grouptotal' |
                            translate}}
                        </td>
                        <td ng-repeat="loanproduct in collectionsheetdata.loanProductsDueForRepayment">
                            <span   ng-repeat="grouptotal in loanGroupsTotal" 
                                    ng-show="grouptotal.groupId === group.groupId && loanproduct.id === grouptotal.productId">
                                <input type="text" class="input-smaller"
                            ng-model="grouptotal.dueAmount" disabled="disabled">
                            </span>
                        </td>
                        <td ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
                                      <span ng-repeat="grouptotal in savingsGroupsTotal"
                                            ng-show="grouptotal.groupId === group.groupId && savingsproduct.id === grouptotal.productId">
                                          <input type="text" class="input-smaller"
                                                 ng-model="grouptotal.dueAmount" disabled="disabled">
                                      </span>
                        </td>
                        <td ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
                                      <span ng-repeat="grouptotal in savingsWithdrawalGroupsTotal"
                                            ng-show="grouptotal.groupId === group.groupId && savingsproduct.id === grouptotal.productId">
                                          <input type="text" class="input-smaller"
                                                 ng-model="grouptotal.withdrawalAmount" disabled="disabled">
                                      </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-bg-white" scope="colgroup" colspan="{{collectionsheetdata.loanProductsDueForRepayment.length + 3}}">&nbsp;</td>
                    </tr>
                    </tbody>
                    <!-- center total -->
                    <tr>    
                            <td class="graybg" colspan="2">{{'label.input.centertotal' | translate}}</td>
                            <td ng-repeat="loanproduct in collectionsheetdata.loanProductsDueForRepayment">
                                <span ng-repeat="total in loansTotal" ng-show="loanproduct.id == total.productId">
                                    <input type="text" class="input-smaller" ng-model="total.dueAmount" disabled="disabled">
                                </span>
                            </td>
                            <td ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
                                <span ng-repeat="total in savingsTotal" ng-show="savingsproduct.id == total.productId">
                                    <input type="text" class="input-smaller" ng-model="total.dueAmount" disabled="disabled">
                                </span>
                            </td>
                            <td ng-repeat="savingsproduct in collectionsheetdata.savingsProducts">
                                <span ng-repeat="total in savingsWithdrawalTotal" ng-show="savingsproduct.id == total.productId">
                                    <input type="text" class="input-smaller" ng-model="total.withdrawalAmount" disabled="disabled">
                                </span>
                            </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-offset-9 paddedtop">
				<button id="recalculate" type="submit" class="btn btn-primary" ng-click="recalculate()">
                    {{'label.button.recalculate' | translate}}
                </button>
                <button id="save" type="submit" class="btn btn-primary" ng-show="submitNextShow" ng-click="submit()">
                    {{'label.button.submitandnextcenter' | translate}}
                </button>
                <button id="save" type="submit" class="btn btn-primary" ng-show="submitShow" ng-click="submit()">
                    {{'label.button.save' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>
